<h1>Chicago Food Inspection Matches</h1>

<div class="container">
  <% @restaurants.each do |restaurant| %>
    <ul>
      <li>Name: <a href="<%= restaurant[:yelp_url] %>"><%= restaurant[:name] %> (Link to Yelp Page)</a></li>
      <li>Address:&nbsp;&nbsp;&nbsp; <%= restaurant[:address] %></li>
      <li>Inspection Date:&nbsp;&nbsp;&nbsp; <%= restaurant[:inspection_date][0..9] %></li>
      <li>Health Risk:&nbsp;&nbsp;&nbsp; <%= restaurant[:risk] %></li>
      <li>Inspection Results:&nbsp;&nbsp;&nbsp; <%= restaurant[:results] %></li>
      <li>Yelp Rating:&nbsp;&nbsp;&nbsp; <%=restaurant[:yelp_rating] %></li>
      <li>  <p><h5>Inspection Details:</h5><%= restaurant[:violations] %>
      </p></li>
    </ul>
  <% end %>
</div>
